shamefully-hoist=false

public-hoist-pattern[]=@types/*
public-hoist-pattern[]=eslint*
public-hoist-pattern[]=prettier


link-workspace-packages=true          # 로컬 패키지 변경 즉시 반영
shared-workspace-lockfile=true        # 단일 lockfile로 일관성/속도↑

strict-peer-dependencies=true         # 누락/충돌 즉시 실패 → 조기 발견

package-import-method=hardlink